:root {
  --primary-color: #004990;
}

* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: black;
  text-decoration: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: stretch;
  background: var(--primary-color);
  height: 50px;
  flex: 1 0 100%;
}

nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex: 1;
}

.header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: #fff;
}

.header li {
  padding-right: 20px;
}

.sidebar {
  flex: 0 0 250px;
  background: #f0f0f0;
  padding-left: 10px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  padding: 8px 0;
}

.content {
  flex: 1;
  padding: 15px;
}

.content__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  flex: 1 0 100%;
  text-align: center;
}

.initiate {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  flex: 1 0 100%;
  text-align: center;
}

.btn {
  background: #005cc5;
  color: white;
  border: 0;
  padding: 10px 50px;
}

.container__btn {
  flex: 1 0 100%;
  text-align: center;
  padding-bottom: 20px;
}

.btn-form {
  border-radius: 4px;
  background: #004990;
  color: white;
  border: 0;
  padding: 10px 20px;
}

.enroll {
  margin-top: 20px;
  margin-bottom: 15px;
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 400;
  flex: 1 0 100%;
  text-align: center;
}

.container__form-enroll {
  flex: 0 1 480px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px;
  background: #f3f3f3;
}

.container__form-enroll label {
  flex: 1 0 100%;
  align-self: flex-start;
  color: #003f5d;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
}

input,
select {
  flex: 1 0 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

.error {
  color: red;
}

.success {
  color: green;
}

@media (min-width: 768px) {
  .welcome {
    margin-bottom: 120px;
  }

  .initiate {
    margin-bottom: 85px;
  }

  .enroll {
    margin-top: 130px;
  }
}
